.s2-feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}

.feature-item:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.features-heading {
    margin-bottom: 10px;
}

.features-heading h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #252B42;
}

.features-desc {
    max-width: 600px;
}

.features-desc pre {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #374754;
    font-family: inherit;
}

.feature-item:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.f1-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    padding: 30px 20px;
    text-align: center;
}

.f1-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.f1-desc-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.f1-desc-title pre {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #252B42;
    font-family: inherit;
    margin: 0;
}

.f1-desc-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.f1-desc-text pre {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #374754;
    font-family: inherit;
    margin: 0;
}


.video {
    position: relative;
    display: inline-block;
}

.video video {
    width: 1000px;
    max-width: 100%;
    height: auto;
}

#playIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    background: #2091F9;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    transition: background 0.2s;
    display: none; 
    line-height: 1;
    box-sizing: border-box;
}

.play-icon p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 
    margin-left: 10px;
}

#playIcon:hover {
    background: #1a7dd6;
}
