.s1-hero-content {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 7px;
    align-items: center;
}

.hero-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.text-info {
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    align-items: center;
}

.btn-primary button{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 121px;
    height: 20px;
    background-color: #2091F9;
    border-radius: 50%;
}

